
<!doctype html>

<html>
      
      
     
    <head> 
            <title>the app</title>
            
            <link href="css/style.css" rel="stylesheet">
            
    </head>

     <p align = left>
        {{refres|safe}}
     </p>
    <body>
          <br><br><br>  
          	 
          		<script> 
                	window.alert("dale aceptar para ir al sitio")
                	//window.location = "index.html" 
                	//document.myform.nombre.value = "algo"
            	</script>

          	  <div>
          	  		 <h1></h1>
            </div>
          
          	<div align = right>
          
          		 <table width="70"height ="100" >
  					   </table>  
             
           </div>    
           
           <div align="center">
                   <p>
                       {{respuesta|safe}}
                   </p>

           </div>

           <div>
                PAGINAS DE USUARIOS     		
            </div> <br><br>  
                 	
                 	<p>
                 		<a href = "#" onclick="return false";onmouseover ="document.aben.src = 'images/abengoa.jpg'";onmouseout = "document.foll.src='images/folleto.png'";> 
                 	</p>   

				</div>
                  
             <br><br><br><br>

          <div align = center> 
                       
                  <ul>  
                      <td >  
                            <INPUT TYPE="button" VALUE="users" align=right onclick=window.open("adultos.html")> 
                      </td>  
                  
                      <td>  
                 
                          <INPUT TYPE="button" VALUE="admin-users"align= left onclick=window.open("adolescentes.html")>  
                      </td>  
                  </ul>  
           
            </div>
            
            <div>
                  
             </div>
             
            <br><br><br>    
            <hr>
            <p>
              
                <img id="pie" src="images/pie.png" />

             </p>
    </body>

    </hmtl>


   