<!doctype html>

<html>

	<head>
		<title>help</title>
		<link href="css/index.css" rel="stylesheet">
	</head>

	<body>
		<div id = "content-menu">
             <nav> 
               <ul class = "menu">
                  <li><a href="/">Home</a></li>
                                  
              </ul>
            </nav> 
        	</div><br><br>
        	
        	<div align = center>
          	  		<font color=blue size=6>{{titulo}}</font>
          </div><br><br><br>
          		<div >
          			<p align=center >
          			<font size = 3>
          				<p align=center >
                  La aplicacion De lorean consiste en ofrecernos informacion en tiempo real de los incidentes en carreteras espaniolas. La informacion se obtiene de la DGT, a tra vez de un canal Rss.
                  </p><br>

                 <p align=center >   
                Suponiendo que el servidor a esta lanzado, cargamos la pagina principal invocando el recurso / . Si lo estoy 
                  ejecutando en una maquina local el recurso "/" se invoca escribiendo en la barra: "localhost:1234/".
                  una vez en la principal, basta pinchar en cualquier enlace o boton que visualizamos como para irnos a una pagina nueva que servira algun recurso especifico.

                </p><br>
                  <p align=center >
                  La app ofrece dos interfaces:
                    La pubica, para la pagina de inicio es indiferente a que estes logueado.
                    si no tiene cuena poruqe no le hayan dado de alta, consuta con el administraor del sitio.
                    por lo tanto solo podremos ver los elementos e invocar los recursos de caracter publico

                    La interfaz privada, sin embargo, es la mas chula porque si tienes cuenta y te logueas puedes editar en tiempo real ciertos parametros de como quieres que quede tu pagina personal. No me extiendo más, la aplicacion es muy guiada e ilustrativa.

                    ¿Le sirvio de algo la explicacion?
          			   </p>
                </font>
          			</p>
		 </div>
	</body>


</html>