
<!doctype html>

<html lang="es">
      
<head> 
     <meta charset="UTF-8" />
     <title>the app</title>
    <link href="css/index.css" rel="stylesheet">
</head>
    <div>
        <img id = "banner" src="images/baner.png" />
        
    </div>
    {% if user %}
    <div> 
        <p ALIGN=left><h4>{{user}}</h4><a href="/logout"></h3>salir</a></h3></p>
    </div>
     {% endif %}
    
    <body background="images/fondo3.jpg" >   
          <div id = "content-menu">
             <nav> 
               <ul class = "menu">
                  <li><a href="/todas">Todas</a></li>
                  <li><a href="/ayuda">Ayuda</a></li>                
              </ul>
            </nav> 
        	</div>
      
          <br><br>
          
          <div align = right>
                <p>
                  <h2>USUARIOS REGISTRADOS</h2>
                </p>
                <p> 
                    {{listado|safe}}
               </p>             
            </div> <br>
         
          <div align = center>
          	  		<font color=blue size=6>P&aacute;gina principal de DeLorean</font>
          </div><br><br>   
           
           <div align="center">
                   
                       {{respuesta|safe}}
                  
            </div>
             <br> <br>
              

            <hr>  
          <div id="pie"  >
                 <p align = center> 
                    respeta los derechos de autor. Este sitio tiene copyrigh de Asu Akogo
                  </p>   
           </div>         
    </body>

    </hmtl>


   